</div>
<header class="header">
  <div class="text-center logo">
    <h1>Member Progress</h1>
    <h2>メンバーひとりひとりを、ちゃんと見てあげたい</h2>
  </div>
</header>
<section style="height:5px;background:#B8B3BE;">
</section>
<section>
  <div class="container">
    <h2 align="center">Whats?</h2>
    <hr class="small">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag 'img1.png', :size => "300x300", :class => "img-circle" %>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <br>
        <h3>オリジナル作品、誰がどこまで終わってるんだっけ？</h3>
        <p>
          キャンプの終わりが近づくに連れて、発表会へ向けたオリジナル作品の制作が白熱します<br>
          そんな時でも、誰がどこまでやっているかをまとめて見られるように
        </p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <br>
        <h3>開発時間外の話題に困る…</h3>
        <p>
          誰が何をやっているのかを班で共有することにより、メンバーの興味を引き出したり、<br>
          メンバー同士のコミュニケーションが生まれるかもしれません
        </p>
      </div>
      <div class="col-sm-3">
        <%= image_tag 'img2.png', :size => "300x300", :class => "img-circle" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag 'img3.png', :size => "300x300", :class => "img-circle" %>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <br>
        <h3>全員分のtechfil更新ってちょっと大変…</h3>
        <p>
          メンバー全員のtechfileリンクを一覧表示！
        </p>
      </div>
    </div>
  </div>
</sectoin>
